.servicio{
width: 380px;
height: 390px;
border-radius: 20px;
border: 1px solid #679989;
Offset: 0px, 8px;
padding: 80px;
color: #679989;
font-family: sans-serif;
font-size: 15px;
margin-top: 40px;
align-content: center;

}
.Contenido{
    width: 100%;
    margin-left:  50% ;
    margin-right: 90% ;
    align-content: center;
    margin-top: 50px;
}
#Titulo {
    color: #679989;
    font-family: sans-serif;
    font-size: 7px;
    margin-top: 30px;
}
.botones{
    padding-left: 20px;
    justify-content: space-between;
    font-size: 10px;
    display: inline-block;
    }
#Agregar {
    bottom: 20;
    left: 215px;;
    Width:152.74px;
    position:static;    
    font-size: 15px;
    background-color:D8D9DB;
    color: rgb(87, 87, 87);
      
    } 
   #Pagar {
    bottom: 20;
    right: 315;
    Width:152.74px;
    position:static;
    font-size: 15px;
    background-color: #679989;
    color: white;
    }
    .Factura{
        
        width: 480px;
        height: 400px;
        border-radius: 20px;
        border: 1px solid #679989;
        Offset: 0px, 30px;
        padding: 40px;
        color: #679989;
        font-family: sans-serif;
        font-size: 15px;
        margin-top: 40px;
        align-content: center;
    }
    .Alinearth, td {
         
            padding: 5px;
            text-align: left;    
        
    }
    .ContenidoFactura{
        width: 350px;
        margin-left:  5% ;
        margin-right: 80% ;
        align-content: center;
        margin-top: 50px;
        text-align: center;
    }
    .Valorright {
        position: rihgt;              
        padding: 10px;
        
        Offset: 0px, 30px;
    }
    .Serviciolehft {
        position: left;        
        padding: 10px;
        
        Offset: 0px, 30px;
    }
    #Generar {
        bottom: 20;
        left: 215px;;
        Width:152.74px;
        position:static;    
        font-size: 15px;
        background-color:D8D9DB;
        color: #679989;
        float: right;
           
        } 
       
    
    #PSE {
        bottom: 20;
        right: 15;
        Width:152.74px;
        position:static;
        font-size: 15px;
        background-color: #679989;
        color: white;
        float: center;
    }
    #PTarjetasCredito {
        bottom: 20;
        right: 15;
        Width:152.74px;
        position:static;
        font-size: 15px;
        background-color: #679989;
        color: white;
    }